.navbar{
  margin-bottom: 0;
}

.hero {
  background-color: #009688;
  color: white;
}

.new-poll-container{
  max-width: 400px;
}

.list-group-item .btn{
  padding: 0 12px;
}

.new-poll-container {
  max-width: 500px;
}